<?xml version='1.0' encoding='utf-8'?>
<widget id="com.devsoftware.pdfreader"
    version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>PDFReader</name>
    <description>PDF Reader Application</description>

    <content src="www/index.html" />

    <access origin="*" />

    <preference name="Orientation" value="portrait" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="36" />
    <preference name="android-compileSdkVersion" value="36" />

    <!-- Android Kısmı -->
    <platform name="android">

        <!-- Android 13 medya izinleri -->
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest">
            <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
            <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
            <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
        </edit-config>

        <!-- Android 11+ All Files Access -->
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest">
            <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
        </edit-config>

        <!-- Legacy READ/WRITE -->
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
        </edit-config>

        <!-- legacy storage flag -->
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:requestLegacyExternalStorage="true" />
        </edit-config>

        <!-- dynamic receiver permission -->
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest">
            <permission
                android:name="com.devsoftware.pdfreader.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
                android:protectionLevel="signature" />
        </edit-config>

    </platform>

    <!-- Pluginler -->
    <plugin name="cordova-plugin-file" />
    <plugin name="cordova-plugin-dialogs" />
    <plugin name="cordova-plugin-splashscreen" />
    <plugin name="cordova-plugin-android-permissions" />

</widget>
