<?xml version='1.0' encoding='utf-8'?>
<widget id="com.devsoftware.pdfreader"
    version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>PDFReader</name>
    <description>PDF Reader Application</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>

    <!-- Uygulama başlangıç dosyası -->
    <content src="index.html" />

    <access origin="*" />

    <!-- Genel ayarlar -->
    <preference name="Orientation" value="portrait" />
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="36" />
    <preference name="android-compileSdkVersion" value="36" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />

    <!-- Android PLATFORM AYARLARI -->
    <platform name="android">

        <!-- AndroidManifest.xml izinleri -->
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" android:maxSdkVersion="30" />
        </config-file>

        <!-- Android 13+ (SDK 33) Medya Okuma İzinleri -->
        <edit-config file="AndroidManifest.xml" target="/manifest" mode="merge">
            <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" android:maxSdkVersion="33" />
            <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" android:maxSdkVersion="33" />
            <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" android:maxSdkVersion="33" />
        </edit-config>
    </platform>

    <!-- Link izinleri -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- 🔌 Pluginler (GÜNCEL & UYUMLU SÜRÜMLER) -->
    <plugin name="cordova-plugin-android-permissions" spec="1.2.0" />
    <plugin name="cordova-plugin-file" spec="7.0.0" />
    <plugin name="cordova-plugin-file-opener2" spec="3.0.5" />
    <plugin name="cordova-plugin-dialogs" spec="2.0.2" />

</widget>
